<h1></h1>
<h1 align = center><b>Goldsmiths University of London</b><h1>
<h4 align = center><b>Team Leader:</b> Rizza Marata (rmara001)<br><b>Student ID:</b> 33727980</b><h1>
<h4 align = center><b>Team Member:</b> Reena Maratas (rmara002)<br><b>Student ID: </b>33727927</b><h1>

***

<h1 align = center><b>Data Mining Assignment - Part 2</b><h1>

This task is based on a real credit risk data, and is to predict a response variable Y which represents a credit card default payment (Yes = 1, No = 0), using the 23 input variables as follows:

X1: Amount of the given credit (NT dollar): it includes both the individual consumer credit and his/her family (supplementary) credit.
X2: Gender (1 = male; 2 = female).
X3: Education (1 = graduate school; 2 = university; 3 = high school; 4 = others).
X4: Marital status (1 = married; 2 = single; 3 = others).
X5: Age (year).
X6 - X11: History of past payment. One tracked the past monthly payment records (from April to September, 2005) as follows: X6 = the repayment status in September, 2005; X7 = the repayment status in August, 2005; . . .;X11 = the repayment status in April, 2005. The measurement scale for the repayment status is: -1 = pay duly; 1 = payment delay for one month; 2 = payment delay for two months; . . .; 8 = payment delay for eight months; 9 = payment delay for nine months and above.
X12-X17: Amount of bill statement (NT dollar). X12 = amount of bill statement in September, 2005; X13 = amount of bill statement in August, 2005; . . .; X17 = amount of bill statement in April, 2005.
X18-X23: Amount of previous payment (NT dollar). X18 = amount paid in September, 2005; X19 = amount paid in August, 2005; . . .;X23 = amount paid in April, 2005.

Two datasets are provided to you: a training dataset in the creditdefault_train.csv file, and a test dataset in the creditdefault_test.csv file.

Using Python and any relevant libraries, you are required to build the best predictive model by tuning models using cross validation on the training dataset with each of the following algorithms discussed in this module: k-Nearest Neighbours, Decision Trees, Random Forest, Bagging, AdaBoost, and SVM. You may replace the AdaBoost algorithm with XGBoost algorithm, but do not use both of them. Out of the models tuned with all the above algorithms, select the best model and clearly justify your choice, and evaluate its performances on the test set.

## **I. Utilize Libraries and Packages**

In [15]:
# Import the pandas library
import pandas as pd

# Import the numpy library
import numpy as np

# Import the pyplot module from matplotlib library
import matplotlib.pyplot as plt

## **II. Examining and Visualizing Data**

### **a.)** Downloading the data

In [ ]:
# Download the test dataset from GitHub raw URL using wget command
!wget https://raw.githubusercontent.com/rmara001/Data-Mining-Assignment/main/data/creditdefault_test.csv

# Download the training dataset from GitHub raw URL using wget command
!wget https://raw.githubusercontent.com/rmara001/Data-Mining-Assignment/main/data/creditdefault_train.csv

### **b.)** Loading the data

In [17]:
# Load the CSV files' dataframes
creditdefault_train_df = pd.read_csv('creditdefault_train.csv')
creditdefault_test_df = pd.read_csv('creditdefault_test.csv')

### **c.)** Changing Column Names

In [18]:
# Original names of the columns
# Y, X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23
# X1: Amount of the given credit (NT dollar): it includes both the individual consumer credit and his/her family (supplementary) credit
# X2: Gender (1 = male; 2 = female)
# Education (1 = graduate school; 2 = university; 3 = high school; 4 = others)
# Marital status (1 = married; 2 = single; 3 = others)
# Age (year)
# X6 - X11: History of past payment. One tracked the past monthly payment records (from April to September, 2005) as follows: X6 = the repayment status in September, 2005; X7 = the repayment status in August, 2005; . . .;X11 = the repayment status in April, 2005. The measurement scale for the repayment status is: -1 = pay duly; 1 = payment delay for one month; 2 = payment delay for two months; . . .; 8 = payment delay for eight months; 9 = payment delay for nine months and above
# X12-X17: Amount of bill statement (NT dollar). X12 = amount of bill statement in September, 2005; X13 = amount of bill statement in August, 2005; . . .; X17 = amount of bill statement in April, 2005
# X18-X23: Amount of previous payment (NT dollar). X18 = amount paid in September, 2005; X19 = amount paid in August, 2005; . . .;X23 = amount paid in April, 2005

# Defining new column names
column_names_mapping = {
    'Y': 'Credit Card Default',
    'X1': 'Amount of given credit (NT dollar)',
    'X2': 'Gender',
    'X3': 'Education',
    'X4': 'Marital status',
    'X5': 'Age',
    'X6': 'Repayment status in September, 2005',
    'X7': 'Repayment status in August, 2005',
    'X8': 'Repayment status in July, 2005',
    'X9': 'Repayment status in June, 2005',
    'X10': 'Repayment status in May, 2005',
    'X11': 'Repayment status in April, 2005',
    'X12': 'Amount of bill statement in September, 2005',
    'X13': 'Amount of bill statement in August, 2005',
    'X14': 'Amount of bill statement in July, 2005',
    'X15': 'Amount of bill statement in June, 2005',
    'X16': 'Amount of bill statement in May, 2005',
    'X17': 'Amount of bill statement in April, 2005',
    'X18': 'Amount of previous payment in September, 2005',
    'X19': 'Amount of previous payment in August, 2005',
    'X20': 'Amount of previous payment in July, 2005',
    'X21': 'Amount of previous payment in June, 2005',
    'X22': 'Amount of previous payment in May, 2005',
    'X23': 'Amount of previous payment in April, 2005',
}

# Rename the columns in both datasets
creditdefault_train_df.rename(columns=column_names_mapping, inplace=True)
creditdefault_test_df.rename(columns=column_names_mapping, inplace=True)

### **c.)** Examining the structure of the data

In [21]:
# Display the first 5 rows of the train dataframe for the credit default dataset
print("Train Dataframe:")
display(creditdefault_train_df.head())

# Print a line break with a separator for clarity
print("\n" + "-"*40 + "\n")

# Display the first 5 rows of the test dataframe for the credit default dataset
print("Test Dataframe:")
display(creditdefault_test_df.head())

Train Dataframe:

,Credit Card Default,Amount of given credit (NT dollar),Gender,Education,Marital status,Age,"Repayment status in September, 2005","Repayment status in August, 2005","Repayment status in July, 2005","Repayment status in June, 2005",...,"Amount of bill statement in July, 2005","Amount of bill statement in June, 2005","Amount of bill statement in May, 2005","Amount of bill statement in April, 2005","Amount of previous payment in September, 2005","Amount of previous payment in August, 2005","Amount of previous payment in July, 2005","Amount of previous payment in June, 2005","Amount of previous payment in May, 2005","Amount of previous payment in April, 2005"
0,1,20000,2,2,1,24,2,2,-1,-1,...,689,0,0,0,0,689,0,0,0,0
1,0,50000,2,2,1,37,0,0,0,0,...,49291,28314,28959,29547,2000,2019,1200,1100,1069,1000
2,0,50000,1,2,1,57,-1,0,-1,0,...,35835,20940,19146,19131,2000,36681,10000,9000,689,679
3,0,50000,1,1,2,37,0,0,0,0,...,57608,19394,19619,20024,2500,1815,657,1000,1000,800
4,0,500000,1,1,2,29,0,0,0,0,...,445007,542653,483003,473944,55000,40000,38000,20239,13750,13770

----------------------------------------

Test Dataframe:

,Credit Card Default,Amount of given credit (NT dollar),Gender,Education,Marital status,Age,"Repayment status in September, 2005","Repayment status in August, 2005","Repayment status in July, 2005","Repayment status in June, 2005",...,"Amount of bill statement in July, 2005","Amount of bill statement in June, 2005","Amount of bill statement in May, 2005","Amount of bill statement in April, 2005","Amount of previous payment in September, 2005","Amount of previous payment in August, 2005","Amount of previous payment in July, 2005","Amount of previous payment in June, 2005","Amount of previous payment in May, 2005","Amount of previous payment in April, 2005"
0,1,120000,2,2,2,26,-1,2,0,0,...,2682,3272,3455,3261,0,1000,1000,1000,0,2000
1,0,90000,2,2,2,34,0,0,0,0,...,13559,14331,14948,15549,1518,1500,1000,1000,1000,5000
2,0,140000,2,3,1,28,0,0,2,0,...,12108,12211,11793,3719,3329,0,432,1000,1000,1000
3,0,20000,1,3,2,35,-2,-2,-2,-2,...,0,0,13007,13912,0,0,0,13007,1122,0
4,0,200000,2,3,2,34,0,0,2,0,...,5535,2513,1828,3731,2306,12,50,300,3738,66

In [22]:
# Display information about the training dataframe for the credit default dataset
print("Train Dataframe Info:")
creditdefault_train_df.info()

# Print a line break with a separator for clarity
print("\n" + "-"*40 + "\n")

# Display information about the testing dataframe for the credit default dataset
print("Test Dataframe Info:")
creditdefault_test_df.info()

Train Dataframe Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 24 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Credit Card Default                            15000 non-null  int64
 1   Amount of given credit (NT dollar)             15000 non-null  int64
 2   Gender                                         15000 non-null  int64
 3   Education                                      15000 non-null  int64
 4   Marital status                                 15000 non-null  int64
 5   Age                                            15000 non-null  int64
 6   Repayment status in September, 2005            15000 non-null  int64
 7   Repayment status in August, 2005               15000 non-null  int64
 8   Repayment status in July, 2005                 15000 non-null  int64
 9   Repayment status in June, 2005                 15000 non-null  int64
 10  Repayment status in May, 2005                  15000 non-null  int64
 11  Repayment status in April, 2005                15000 non-null  int64
 12  Amount of bill statement in September, 2005    15000 non-null  int64
 13  Amount of bill statement in August, 2005       15000 non-null  int64
 14  Amount of bill statement in July, 2005         15000 non-null  int64
 15  Amount of bill statement in June, 2005         15000 non-null  int64
 16  Amount of bill statement in May, 2005          15000 non-null  int64
 17  Amount of bill statement in April, 2005        15000 non-null  int64
 18  Amount of previous payment in September, 2005  15000 non-null  int64
 19  Amount of previous payment in August, 2005     15000 non-null  int64
 20  Amount of previous payment in July, 2005       15000 non-null  int64
 21  Amount of previous payment in June, 2005       15000 non-null  int64
 22  Amount of previous payment in May, 2005        15000 non-null  int64
 23  Amount of previous payment in April, 2005      15000 non-null  int64
dtypes: int64(24)
memory usage: 2.7 MB

----------------------------------------

Test Dataframe Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 24 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Credit Card Default                            15000 non-null  int64
 1   Amount of given credit (NT dollar)             15000 non-null  int64
 2   Gender                                         15000 non-null  int64
 3   Education                                      15000 non-null  int64
 4   Marital status                                 15000 non-null  int64
 5   Age                                            15000 non-null  int64
 6   Repayment status in September, 2005            15000 non-null  int64
 7   Repayment status in August, 2005               15000 non-null  int64
 8   Repayment status in July, 2005                 15000 non-null  int64
 9   Repayment status in June, 2005                 15000 non-null  int64
 10  Repayment status in May, 2005                  15000 non-null  int64
 11  Repayment status in April, 2005                15000 non-null  int64
 12  Amount of bill statement in September, 2005    15000 non-null  int64
 13  Amount of bill statement in August, 2005       15000 non-null  int64
 14  Amount of bill statement in July, 2005         15000 non-null  int64
 15  Amount of bill statement in June, 2005         15000 non-null  int64
 16  Amount of bill statement in May, 2005          15000 non-null  int64
 17  Amount of bill statement in April, 2005        15000 non-null  int64
 18  Amount of previous payment in September, 2005  15000 non-null  int64
 19  Amount of previous payment in August, 2005     15000 non-null  int64
 20  Amount of previous payment in July, 2005       15000 non-null  int64
 21  Amount of previous payment in June, 2005       15000 non-null  int64
 22  Amount of previous payment in May, 2005        15000 non-null  int64
 23  Amount of previous payment in April, 2005      15000 non-null  int64
dtypes: int64(24)
memory usage: 2.7 MB

In [24]:
# Display statistical summary of the training dataframe for the credit default dataset
print("Training Dataframe Statistical Summary:")
display(creditdefault_train_df.describe())

# Print a line break with a separator for clarity
print("\n" + "-"*40 + "\n")

# Display statistical summary of the testing dataframe for the credit default dataset
print("Testing Dataframe Statistical Summary:")
display(creditdefault_test_df.describe())

Training Dataframe Statistical Summary:

,Credit Card Default,Amount of given credit (NT dollar),Gender,Education,Marital status,Age,"Repayment status in September, 2005","Repayment status in August, 2005","Repayment status in July, 2005","Repayment status in June, 2005",...,"Amount of bill statement in July, 2005","Amount of bill statement in June, 2005","Amount of bill statement in May, 2005","Amount of bill statement in April, 2005","Amount of previous payment in September, 2005","Amount of previous payment in August, 2005","Amount of previous payment in July, 2005","Amount of previous payment in June, 2005","Amount of previous payment in May, 2005","Amount of previous payment in April, 2005"
count,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,...,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,1.500000e+04,15000.000000,15000.000000,15000.000000,15000.000000
mean,0.221200,167450.245333,1.604867,1.850000,1.556200,35.367933,-0.020467,-0.130933,-0.163000,-0.214467,...,47117.562067,43077.445667,40272.922667,38708.685867,5615.960000,5.822059e+03,4942.959000,4997.328867,4798.478400,5226.421267
std,0.415069,130109.925023,0.488896,0.786686,0.522743,9.154118,1.125048,1.198451,1.202606,1.180578,...,69182.434940,64016.907786,60503.339354,59212.425410,15551.708028,2.155675e+04,13629.034736,16499.349511,15463.948485,18099.851948
min,0.000000,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-34041.000000,-170000.000000,-46627.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,0.000000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2733.500000,2392.750000,1800.000000,1200.000000,1000.000000,8.330000e+02,390.000000,290.000000,204.000000,80.000000
50%,0.000000,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,...,20165.000000,19090.500000,18178.000000,17177.000000,2113.000000,2.014000e+03,1809.000000,1500.000000,1500.000000,1500.000000
75%,0.000000,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,...,60263.250000,54599.500000,50134.750000,49122.750000,5023.250000,5.000000e+03,4571.500000,4048.500000,4019.500000,4000.000000
max,1.000000,800000.000000,2.000000,6.000000,3.000000,75.000000,8.000000,8.000000,8.000000,8.000000,...,855086.000000,706864.000000,587067.000000,568638.000000,493358.000000,1.227082e+06,380478.000000,528897.000000,426529.000000,528666.000000

----------------------------------------

Testing Dataframe Statistical Summary:

,Credit Card Default,Amount of given credit (NT dollar),Gender,Education,Marital status,Age,"Repayment status in September, 2005","Repayment status in August, 2005","Repayment status in July, 2005","Repayment status in June, 2005",...,"Amount of bill statement in July, 2005","Amount of bill statement in June, 2005","Amount of bill statement in May, 2005","Amount of bill statement in April, 2005","Amount of previous payment in September, 2005","Amount of previous payment in August, 2005","Amount of previous payment in July, 2005","Amount of previous payment in June, 2005","Amount of previous payment in May, 2005","Amount of previous payment in April, 2005"
count,15000.000000,15000.00000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,...,1.500000e+04,15000.000000,15000.000000,15000.000000,15000.000000,1.500000e+04,15000.000000,15000.000000,15000.000000,15000.000000
mean,0.221200,167518.40000,1.602600,1.856267,1.547533,35.603067,-0.012933,-0.136600,-0.169400,-0.226867,...,4.690875e+04,43448.452267,40349.879267,39034.834933,5711.201000,6.020268e+03,5508.404000,4654.824867,4800.296867,5204.583867
std,0.415069,129388.71212,0.489376,0.794008,0.521177,9.280067,1.122579,1.195953,1.191133,1.157593,...,6.951809e+04,64648.862167,61091.551799,59895.370421,17516.924518,2.443534e+04,20835.555914,14784.664100,15090.894847,17449.721214
min,0.000000,10000.00000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-1.572640e+05,-50616.000000,-81334.000000,-150953.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,0.000000,50000.00000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2.639000e+03,2290.500000,1729.500000,1307.750000,980.750000,8.327500e+02,390.750000,300.000000,286.750000,156.750000
50%,0.000000,140000.00000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,...,2.004050e+04,19012.500000,18025.000000,16924.000000,2100.000000,2.004000e+03,1800.000000,1500.000000,1519.000000,1500.000000
75%,0.000000,240000.00000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,...,6.000650e+04,54407.000000,50247.250000,49327.000000,5001.000000,5.000000e+03,4500.000000,4001.500000,4041.250000,4007.000000
max,1.000000,1000000.00000,2.000000,6.000000,3.000000,79.000000,8.000000,7.000000,8.000000,8.000000,...,1.664089e+06,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.000000,621000.000000,417990.000000,527143.000000

In [25]:
# Display the shape of the training dataframe for the credit default dataset
print(f"Shape of Training Dataframe: {creditdefault_train_df.shape}")

# Print a line break with a separator for clarity
print("\n" + "-"*40 + "\n")

# Display the shape of the testing dataframe for the credit default dataset
print(f"Shape of Testing Dataframe: {creditdefault_test_df.shape}")

Shape of Training Dataframe: (15000, 24)

----------------------------------------

Shape of Testing Dataframe: (15000, 24)